
# packages
/node_modules
/server/node_modules
/server/tests/node_modules
/client/node_modules
/shared/node_modules
npm-debug.log*
/coverage
/server/.nyc_output
/server/.nyc_output/processinfo

# react
/client/build
/client/dist

# env
.DS_Store
*.env
!*.defaults.env
.env.local
.env.development.local
.env.test.local
.env.production.local
environment.json
environment-test.json
.github
/integration/target-env/**
!/integration/target-env/.gitkeep
!/integration/target-env/tsconfig.json
!/integration/target-env/METIS/
!/integration/target-env/METIS/**
/integration/library/node_modules

# deployment
/deployment/docker/.out

# log
/server/logs
*.log

# temp
/server/temp

# backup
/server/database/backups

# file store
/server/files/store
/server/files/store-dev
/server/files/store-test

# user data for importing
/server/database/scripts/**/*.csv